<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>large_image</key>
		<string>milwaukee-aveB.jpg</string>
		<key>full_desc</key>
		<string>Extending northwest from downtown, following the CTA Blue Line, this bike lane passes through some of Chicago’s most happening neighborhoods – including Fulton Market, Wicker Park and Logan Square.
Use it for commuting to work, ride to dinner with friends, or connect to The 606 to enjoy another great route in the city. Why take the blue line when you can take a blue bike?</string>
		<key>short_desc</key>
		<string>More than 3,000 Chicagoans ride this bike-friendly route, playfully called the &quot;Hipster Highway&quot; of Chicago, every day.</string>
		<key>name</key>
		<string>Milwaukee Avenue</string>
		<key>image</key>
		<string>milwaukee-ave.jpg</string>
	</dict>
	<dict>
		<key>large_image</key>
		<string>606-2B.jpg</string>
		<key>full_desc</key>
		<string>Formerly an elevated rail line, The 606 is now a fully paved trail that features six ground level parks, art installations, an event plaza, and more.
The trail has 5 entry/exit points with Divvy Stations located just off the trail or very close by. Follow the two- to four-mile ride listed below for an easy way to experience The 606.
Get a bike from the Milwaukee Ave &amp; Wabansia Ave Divvy Station.
Take a short 0.2-mile ride NW on Milwaukee Ave to arrive at the Milwaukee Ave &amp; Leavitt St trail entrance.
Head up the ramp, and ride west on the trail.
You can ride two miles to the west end of the trail in about 15 minutes. Then, turn around and head back east on the trail.
If you’d like to dock your bike and enjoy a stroll through the neighborhood or on the trail, you can exit The 606 and dock at the Albany Ave &amp; Bloomingdale Ave Divvy Station.
If you’d like to plan your own route, grab a bike at one of the stations listed below, enter at the closest trail entrance, and enjoy riding on the trail as long as you’d like. When you’re done riding, you can also exit at any of the points listed below to access a nearby station and dock your bike.
Entry/exit points with nearby Divvy Stations:
Walsh Park - use the Marshfield Ave &amp; Courtland St Divvy Station
Churchill Park - use the Damen Ave &amp; Courtland St Divvy Station
Milwaukee Ave &amp; Leavitt St - use the Milwaukee Ave &amp; Wabansia St Divvy Station
Western Ave - use the Western Ave &amp; Winnebago Ave Divvy Station
Julia de Burgos Park - use the Albany Ave &amp; Bloomingdale Ave Divvy Station</string>
		<key>short_desc</key>
		<string>Chicago’s new elevated trail is a great place to run, walk, stroll, or bike through 2.7 miles of the city’s northwest side neighborhoods.</string>
		<key>name</key>
		<string>The 606</string>
		<key>image</key>
		<string>606-2.jpg</string>
	</dict>
	<dict>
		<key>large_image</key>
		<string>lakefront-southB.jpg</string>
		<key>full_desc</key>
		<string>With the lake to the east and diverse neighborhoods, museums and recreational areas to the west, the south half of the Lakefront Trail is a great way to experience the city.
Since the Trail covers so much of the city, it’s easy to ride for as long as you&apos;d like, and hop off when you&apos;re done. You can enter at any point, with many Divvy stations located on or very close to the Trail itself. Dock your bike along the way to see various attractions, and pick one back up when you&apos;re ready to ride again!
Here&apos;s our favorite South Side ride:
Grab a bike from our Streeter Dr &amp; Grand Ave Station, located just off the Lakefront Trail near Navy Pier. Follow the detour signs south to access the Lakefront Trail.
Continue heading south along the trail for about a mile, during which you’ll pass sailboats, Loop skyscrapers, Grant Park, and Maggie Daley Park. If you’d like to stop off and explore any of these areas, dock at our Lakeshore Dr &amp; Monroe St Station.
Keep heading south on the trail for another mile, and you’ll find yourself in the center of Museum Campus, home to some of the city’s most popular attractions. If you’d like to look around, you can dock at our Field Museum, Adler Planetarium, or Shedd Aquarium Stations.
Continuing another mile south on the trail, you’ll pass amazing skyline views from behind the planetarium. You’ll also see Soldier Field, home to the Chicago Bears NFL Team, and McCormick Place, the largest convention center in North America.
When you’re ready to end your trip, keep heading south and dock at our Ft Dearborn Dr &amp; 31st St Station, just off the trail. You’ll find yourself at 31st St Beach, a great place for sunbathing, a swim, or a picnic.
Popular attractions along Lakefront Trail South:
South Shore Cultural Center (South Shore Dr &amp; 71st St station)
Museum of Science and Industry (Museum of Science and Industry station)
Promontory Point (Shore Dr &amp; 55th St station)
31st St Beach (Fort Dearborn Dr &amp; 31st St station)
Burnham Harbor (Burnham Harbor station)
Shedd Aquarium (Shedd Aquarium station)
Field Museum and Soldier Field (Field Museum station)
Northerly Island and Adler Planetarium (Adler Planetarium station)
Grant Park and Millennium Park (Lake Shore Dr &amp; Monroe St station)
DuSable Harbor (DuSable Harbor station)
Navy Pier (Streeter Dr &amp; Grand Ave station)</string>
		<key>short_desc</key>
		<string>The south half of Lakefront Trail connects to some of the city&apos;s most popular attractions, museums and recreational areas.</string>
		<key>name</key>
		<string>Lakefront Trail South</string>
		<key>image</key>
		<string>lakefront-south.jpg</string>
	</dict>
	<dict>
		<key>large_image</key>
		<string>lakefrontB.jpg</string>
		<key>full_desc</key>
		<string>A ride along the Northern half of the Lakefront Trail is the best way to take in Lake Michigan, explore parks and beaches, visit the zoo, and more.
Since the Trail covers so much of the city, it’s easy to ride for as long as you&apos;d like and hop off when you&apos;re done. You can enter at any point, with many Divvy stations located on or very close to the Trail itself. Dock your bike along the way to see various attractions, and pick one back up when you&apos;re ready to ride again!
Here&apos;s our favorite North Side ride:
Grab a bike at the Michigan Ave &amp; Oak St Divvy Station, conveniently located just off Michigan Avenue near Water Tower Place.
Head down the access ramp located just west of the station to get onto the Lakefront Trail. You’ll join the trail at Oak St Beach, one of the most popular in the city.
Continue riding north on the trail. You’ll see great beach and skyline views.
About a mile north from your starting point, you’ll pass North Avenue Beach and Lincoln Park. You can stop off here, docking at our Lake Shore Dr &amp; North Ave or Theater on the Lake stations to explore the Chicago History Museum, Lincoln Park Zoo, Fullerton Beach, or Peggy Notebaert Nature Museum.
When you’re ready to continue your ride, grab a bike from one of the two stations listed above and continue heading north on the trail. Head another mile north, taking in the sights of sail boats along the way.
When you’re ready to end your ride, dock at our Lakeshore Dr &amp; Belmont Ave Station to visit Belmont Harbor, access the Boystown neighborhood, or make a detour off the trail to Wrigley Field.
Popular attractions along Lakeshore Trail North:
North Avenue Beach (Lake Shore Dr &amp; North Blvd station)
Lincoln Park and Lincoln Park Zoo (Clark St &amp; Armitage Ave, Cannon Dr &amp; Fullerton Ave station)
Fullerton Beach (Theater on the Lake station)
Belmont Harbor (Lake Shore Dr &amp; Belmont Ave station)
Montrose Harbor, Cricket Hill, and Montrose Beach (Montrose Harbor station)</string>
		<key>short_desc</key>
		<string>This fully paved path runs alongside Lake Michigan’s scenic shoreline and is the perfect car-free way to check out some of the city&apos;s most popular beaches.</string>
		<key>name</key>
		<string>Lakefront Trail North</string>
		<key>image</key>
		<string>lakefront.jpg</string>
	</dict>
</array>
</plist>
